html{
  background-img: pink;
}

body{

    width: 150px;
    height: 3000px;
    overflow: scroll;
}

h1{
  white-space:nowrap;

}

h2{

  white-space:nowrap;
  opacity: 0.4;
}

.firstLine{
  position:fixed;
  left:10%;
  top:50%;
  font-size:50px;
  letter-spacing: 2.5px;
}
.secondLine{
  position:relative;
  left:76%;
  top:70%;
  font-size:50px;
  letter-spacing: 2.5px;
  white-space: nowrap;
}
.middle{
  position:fixed;
  top:60%;
  left:45%;
  font-style: italic;
}
.lastline{
  position:relative;
  left:76%;
  top:43em;
  font-size:50px;
  letter-spacing: 2.5px;
  white-space:nowrap;
}
