html{
  background-image: url("http://c300221.r21.cf1.rackcdn.com/brazilian-modern-art-original-acrylic-painting-on-mdf-title-notocorda-1340243733_org.jpg");
}

body{
    color:white;
    width-max: 10%;
    height: 250%;
    overflow: scroll;
}

h1{
  white-space:nowrap;

}

h2{

  white-space:nowrap;
  opacity: 0.4;
}

.firstLine{
  position:fixed;
  left:10%;
  top:50%;
  font-size:50px;
  letter-spacing: 2.5px;
}
.secondLine{
  position:relative;
  left:140%;
  top:70%;
  font-size:50px;
  letter-spacing: 2.5px;
  white-space: nowrap;
}
.middle{
  position:fixed;
  top:58%;
  left:45%;
  font-style: italic;
}
.lastline{
  position:relative;
  left:140%;
  top:25.7em;
  font-size:50px;
  letter-spacing: 2.5px;
  white-space:nowrap;
}
